@media only screen and (max-width: 430px) {
    .body-container {
        padding-inline: 0;
    }
    .image-container {
        min-height: 0;
    }
        .thumb-blog {
        object-fit: fill;
    }
    .sponsor {
        height: 7em;
    }
    .sponsor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}