.parent-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}


/* Mobile Styles (375px - 640px) */
@media only screen and (max-width: 640px) {
  .hero-slider-container {
    height: 400px !important;
    margin-top: 3rem !important;
    margin-bottom: -4rem !important;
  }
    .parent-container {
    height: 400px;
    margin-top: 3rem;
    margin-bottom: -4rem;
  }

  .hero-navigation {
    display: none !important; /* Hide arrows on mobile */
  }

  .hero-slide-indicators {
    bottom: 1.5rem !important;
  }

  .hero-slide-indicators button {
    width: 20px !important;
    height: 3px !important;
  }

  .hero-slide-indicators button.active {
    width: 30px !important;
  }
  .parent-container {
    height: 37rem;
  }
}


/* Desktop Styles */
@media only screen and (min-width: 641px) {
  .parent-container {
    height: 823px;
    margin-top: 5.8rem;
    margin-bottom: -14rem;
  }
}


/* Mobile Styles (375px) */
@media only screen and (max-width: 377px) {
  .parent-container {
    height: 300px !important;
    margin-top: 2rem !important;
    margin-bottom: -2rem !important;
  }
  
  .hero-slide-indicators {
    bottom: 1rem !important;
  }
}