@media only screen and (max-width: 430px) {
    .body-container {
        padding-inline: 0;
    }
    .image-container {
        min-height: 0;
    }
    .snap-start {
    scroll-snap-align: start;
    padding-inline-start: 5rem;
    padding-inline-end: 18rem;

    }
    .grid-flow-col {
    gap: 11rem;
    padding-inline-start: 4rem;
    margin-left: -20px;
}

}