.locationOverlay {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 0.25rem;
  z-index: 10;
}

.locationText {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
}